@use 'mixins' as*;
@use 'fonts' as*;

.mon{
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
    // position: absolute;
    // bottom: 0;
    // z-index: 3;

    &__copyright{
       color: yellow;
        text-align: center;
    }

    &__creators {
        color: yellow;
        display:flex;
        flex-direction: row;
     
    }

    &__andy{
        margin: 0;
        width: 50%;
        text-align: center;
        // padding-left: 2rem;
        // padding-right: 2rem;
    }
    &__kayla{
        margin: 0;
        text-align: center;
        width: 50%;
    }
}